body{
    
    /* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
    background-image: url('/images/desktop.png');
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* overflow: hidden; */
 

    }

 

h1.heading{
    font-family: "Abhaya Libre";
    text-align: center;
    padding-top: 130px;
    padding-bottom:80px;
    color: black;
}

p.plain{
    text-align: center;
    font-family: "Indie Flower";
    font-size: 1.5rem;
    margin-bottom: 80px;
}

div.couple-image{
    width: 320px;
    height: 230px;
}

div.eclipse-left{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

div.letter{
    position: absolute;
    bottom: 0;
    right: 0;
}

button.check{
    width: 130px;
    background-color: rgba(244, 124, 124, 0.6 );
    font-family: "Indie Flower";
    font-size: 18px;
    color: black;
    border-radius: 40px;
}
